@using RemoteController

<table>
    <tr>
        <th>
            <ButtonController ID="1" ClickCallback="OnMoveCallback"><text>Left</text></ButtonController>
        </th>
        <th>
            <ButtonController ID="2" ClickCallback="OnMoveCallback"><text>Up</text></ButtonController>
        </th>
        <th>
            <ButtonController ID="3" ClickCallback="OnMoveCallback"><text>Down</text></ButtonController>
        </th>
    </tr>
</table>