@inherits RemoteControllerBase

<h3>Button1</h3>
<button @onclick="Click">@Title</button>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public EventCallback<ButtonControllerEvent> OnEventCallback { get; set; }

    protected async Task Click()
    {
        await OnEventCallback.InvokeAsync(new ButtonControllerEvent());
    }
}
